<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Virtuasthenics</title>
	<link rel="stylesheet" type="text/css" href="css/inicio.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/inicio.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md fixed-top top-nav">
		<div class="container">
			<a class="navbar-brand" href="/"><strong>Virtuasthenics</strong></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="/actividades">Actividades</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/entrenamientos">Entrenamientos</a></li>
					<li class="nav-item active"><a class="nav-link" href="/dietas">Dietas</a></li>
<!-- 					<li class="nav-item"><a class="nav-link" href="#">Precios</a></li> -->
<!-- 					<li class="nav-item"><a class="nav-link" href="#">FAQ's</a></li> -->
					<li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
					</li>
				</ul>
				&nbsp;
				&nbsp;
				&nbsp;
				{{#showInfoUser}}
				<div class="navbar-user">
					<table>
						<tr>
							<td>
								<p id="userNameField" style="color: #FFFFFF; margin-bottom: 25px;">
									<u>
										Usuario: {{user}}
									</u>
								</p>
							</td>
							&nbsp;
							<td>
								<form action="/usuario" method="get">
									<button type="submit" style="margin-bottom: 25px;"><img src="icons/user.png" width="20px" height="20px"/></button>
									<input type="hidden" name="_csrf" value="{{token}}"/>
								</form>
							</td>
							&nbsp;
							<td>
								<form action="/shutdown" method="post">
									<button type="submit" style="margin-bottom: 25px;"><img src="icons/logout.png" width="20px" height="20px"/></button>
									<input type="hidden" name="_csrf" value="{{token}}"/>
								</form>
							</td>
						</tr>
					</table>
				</div>
				{{/showInfoUser}}
			</div>
		</div>
	</nav>

	<!-- Intro Seven -->
	<section class="intro">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block img-fluid" alt="Virtuasthenics"
					src="imgs/weightlifting.jpg" border="0" alt="">
				<div class="carousel-caption" style="width: 85%; text-align: left;">
					<h3>Dietas:</h3>
					<div>
						<table>
							<tr>
								<td style="width: 15px;"></td>
								<td>
									<form action="/buscarDietas" method=get>
										<div class="row">
											<div class="col-xs-6">
												<input type="text" name="nombreDieta" class="form-control"
													placeholder="Nombre Dieta">
											</div>
											&nbsp;
											<div class="col-xs-6">
												<input type="text" name="tipoDieta" class="form-control"
													placeholder="Tipo Dieta">
											</div>
											&nbsp;
											<div class="col-xs-3">
												<input type="text" name="comida" class="form-control"
													placeholder="Comida">
											</div>
											&nbsp;
											<div class="col-xs-3">
												<input type="text" name="kcal" class="form-control"
													placeholder="Kcal(s)">
											</div>
											&nbsp;
											<button type="submit" title="Buscar"
												class="btn btn-default btn-xs">
												<img src="icons/find.png" />
											</button>
										</div>
									</form>
								</td>
							</tr>
						</table>
						<br/>
						<table style="width: 85%;">
							<tr>
								<td style="width:5%; text-align: left;"><strong>#</strong>
								</td>
								<td style="width:25%; text-align: left;"><strong>Nombre</strong>
								</td>
								<td style="width:25%; text-align: left;"><strong>Tipo</strong>
								</td>
								<td style="width:15%; text-align: left;"><strong>Comida</strong>
								</td>
								<td style="width:15%; text-align: left;"><strong>Kcal(s)</strong>
								</td>
								{{#showInfoUser}}
								<td style="width: 15%; text-align: left;">
									<table>
										<tr>
											<td>
												<form action="/sendMail" method=get>
													<button type="submit" title="Solicitar dieta por mail"
														class="btn btn-default btn-xs">
														<img src="icons/email.png" />
													</button>
													<input type="hidden" name="_csrf" value="{{token}}">
												</form>
											</td>
										</tr>
									</table>
								</td>
								{{/showInfoUser}}
							</tr>
						</table>
					</div>
				</div>
				<br/><br/>
				<div class="carousel-caption"
					style="width: 85%; text-align: left; margin-top:165px; overflow: auto;">
					{{#showListaDietas}}
					<table style="width: 85%;">
						{{#dietas}}
						<tr>
							<td style="width:5%; text-align: left;">{{-index}}</td>
							<td style="width:25%; text-align: left;">{{nombreDieta}}</td>
							<td style="width:25%; text-align: left;">{{tipoDieta}}</td>
							<td style="width:15%; text-align: left;">{{comida}}</td>
							<td style="width:15%; text-align: left;">{{kcal}} kcal(s)</td>
							<td style="width:15%; text-align: left; border: none;">
								<table>
									<tr>
										<td>
											<form action="/mostrarAlimentosDieta" method=get>
												<input type="hidden" name="idDieta" value="{{idDieta}}"
													class="form-control">
												<button type="submit" title="Consultar alimentos"
													class="btn btn-default btn-xs">
													<img src="icons/arrow_right.png" />
												</button>
												<input type="hidden" name="_csrf" value="{{token}}">
											</form>
										</td>
										<td>
										{{#showInfoUser}}
											<form action="/anadirDietaAFavoritos" method=post>
												<input type="hidden" name="idDieta" value="{{idDieta}}"
													class="form-control">
												<button type="submit" title="Añadir a favoritos"
													class="btn btn-default btn-xs">
													<img src="icons/favoritos.png" width="15px" height="15px" />
												</button>
												<input type="hidden" name="_csrf" value="{{token}}">
											</form> 
										{{/showInfoUser}}
										</td>
									</tr>
								</table>
							</td>
						</tr>
						{{/dietas}}
					</table>
					{{/showListaDietas}}
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- SCRIPTS -->
	<script type="text/javascript">
		$(window).scroll(function() {
			var scroll = $(window).scrollTop();

			if (scroll >= 100) {
				$(".top-nav").addClass("light-header");
				document.getElementById('userNameField').style.color = "#000000";
			} else {
				$(".top-nav").removeClass("light-header");
				document.getElementById('userNameField').style.color = "#FFFFFF";
			}
		});
	</script>

</body>
</html>