<!DOCTYPE html>
<html lang="en">

<title>Virtuasthenics</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
<meta charset="ISO-8859-1">
<title>Virtuasthenics</title>
<link rel="stylesheet" type="text/css" href="css/login.css">
<link href="https://fonts.googleapis.com/css?family=Lobster"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body background="imgs/weightlifting.jpg">
	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">Virtuasthenics Login</h2>
			<p style="text-align: right;">
				<a class="nav-link" title="Volver a inicio" href="/">
					<img src="icons/arrow_undo.png" />
				</a>
			</p>
			<hr>
			ERROR AL ACCEDER A LA APLICACIÓN. Inténtelo de nuevo:
			&nbsp;
			<a href="/login" class="btn btn-primary btn-capsul px-1 py-1">ACCEDER</a>
			
		</div>
		<p class="text-center">
		</p>
	</div>
</body>
</html>